main/default/flows/AbandondCartReminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AbandonedCartReminder</name>
        <label>AbandonedCartReminder</label>
        <locationX>408</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Account__r.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Cart Reminder</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CartEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>BusinessCartReminder</name>
        <label>BusinessCartReminder</label>
        <locationX>801</locationX>
        <locationY>540</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Account__r.Business_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Abandoned Cart Reminder</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CartEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Business_PersonalMail_sending</name>
        <label>Business/PersonalMail sending</label>
        <locationX>565</locationX>
        <locationY>424</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BusinessAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Type_of_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BusinessCartReminder</targetReference>
            </connector>
            <label>BusinessAccount</label>
        </rules>
        <rules>
            <name>PersonalAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Type_of_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E_Commerce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AbandonedCartReminder</targetReference>
            </connector>
            <label>PersonalAccount</label>
        </rules>
    </decisions>
    <description>This is a Schedule-Triggered Flow.
This flow is triggered on a specific date and time (2025-03-29 17:15:00). It queries abandoned carts where the product field is not null and the status is &apos;Abandoned&apos;. It then looks up the corresponding cart record, checks if it was created within the last 15 minutes, and sends an email reminder using a predefined template.

Several objects and their fields worth mentioning. Below are the details (the format is given as: object_name - field_name: interaction)
  * Cart__c - Product__c : The flow filters carts based on this field to ensure it&apos;s not null.
  * Cart__c - Status__c : The flow filters carts based on this field to ensure the status is &apos;Abandoned&apos;.</description>
    <environments>Default</environments>
    <formulas>
        <name>lessthan15Min</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - (23/24)</expression>
    </formulas>
    <interviewLabel>AbandondCartReminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AbandondCartReminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Cart_Product</name>
        <label>Cart Product</label>
        <locationX>575</locationX>
        <locationY>307</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Business_PersonalMail_sending</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>lessthan15Min</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cart__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>449</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Cart_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Abandoned</stringValue>
            </value>
        </filters>
        <object>Cart__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2025-03-29</startDate>
            <startTime>17:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CartEmailTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!$Record.Account__r.Name} {!$Record.Account__r.LastName},
Place the order for {!$Record.Product__c} whic is add it the cart it may soldout</text>
    </textTemplates>
</Flow>
