main/default/flows/LoyaltyProgramStatusUpdateScheduleTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Expired</name>
        <label>Expired</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkExpiryDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expiry_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>dateCheck</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateLoyaltyProgram_status_field</targetReference>
            </connector>
            <label>checkExpiryDate</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>dateCheck</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <interviewLabel>LoyaltyProgramStatusUpdateScheduleTrigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LoyaltyProgramStatusUpdateScheduleTrigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateLoyaltyProgram_status_field</name>
        <label>updateLoyaltyProgram status field</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>Program_Status__c</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Expired</targetReference>
        </connector>
        <object>Loyalty_Program__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-04-14</startDate>
            <startTime>07:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
