main/default/flows/LoyaltyProgramPointsRedeemtionFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Add_Current_LP_to_Update_List</name>
        <label>Add Current LP to Update List</label>
        <locationX>296</locationX>
        <locationY>1138</locationY>
        <assignmentItems>
            <assignToReference>LoyaltyProgramsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Loyalty_Programs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Loyalty_Programs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CurrentOA_CLP</name>
        <label>CurrentOA&gt;CLP</label>
        <locationX>241</locationX>
        <locationY>931</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Loyalty_Programs.Points_Used__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Loyalty_Programs.Points_Balance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingPoints</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Loop_Through_Loyalty_Programs.Points_Balance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Loyalty_Programs.Program_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Used</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOrderAmount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Loop_Through_Loyalty_Programs.Points_Balance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pointsUsed</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Loyalty_Programs.Points_Balance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Current_LP_to_Update_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Equal_Points_use</name>
        <label>Equal Points use</label>
        <locationX>50</locationX>
        <locationY>988</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Loyalty_Programs.Points_Used__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Loyalty_Programs.Points_Balance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOrderAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pointsUsed</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Loyalty_Programs.Points_Balance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Loyalty_Programs.Program_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Used</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Current_LP_to_Update_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RemaingPoints_less_CLP</name>
        <label>RemaingPoints less CLP</label>
        <locationX>366</locationX>
        <locationY>923</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Loyalty_Programs.Program_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Loyalty_Programs.Points_Used__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentOrderAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingPoints</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pointsUsed</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentOrderAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOrderAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Current_LP_to_Update_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_RemainingPoints</name>
        <label>Set RemainingPoints</label>
        <locationX>297</locationX>
        <locationY>364</locationY>
        <assignmentItems>
            <assignToReference>RemainingPoints</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.Loyalty_Points_Balance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Loyalty_Programs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Points_Matching</name>
        <label>Check Points Matching</label>
        <locationX>260</locationX>
        <locationY>770</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Order_Amount_equal_current_Loyalty_Points</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOrderAmount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Through_Loyalty_Programs.Points_Balance__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Equal_Points_use</targetReference>
            </connector>
            <label>Current Order Amount equal current Loyalty Points</label>
        </rules>
        <rules>
            <name>Current_Order_Amount_greterthan_current_Loyalty_Points</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOrderAmount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Loop_Through_Loyalty_Programs.Points_Balance__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CurrentOA_CLP</targetReference>
            </connector>
            <label>Current Order Amount greterthan current Loyalty Points</label>
        </rules>
        <rules>
            <name>Current_Order_Amount_lessthan_current_Loyalty_Points</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOrderAmount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Loop_Through_Loyalty_Programs.Points_Balance__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RemaingPoints_less_CLP</targetReference>
            </connector>
            <label>Current Order Amount lessthan current Loyalty Points</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Remaining_Points</name>
        <label>Check Remaining Points</label>
        <locationX>261</locationX>
        <locationY>629</locationY>
        <defaultConnector>
            <targetReference>Update_LoyaltyProgram</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RemainingPoints</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Points_Matching</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>redeemCheck</name>
        <label>redeemCheck</label>
        <locationX>512</locationX>
        <locationY>373</locationY>
        <defaultConnector>
            <targetReference>Update_Records_on_Purchase_History_if_No_Redeem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Redeem_Points__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RemainingPoints</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>checkDate</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <formulas>
        <name>setExpiryDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.CreatedDate},1)</expression>
    </formulas>
    <formulas>
        <name>totalAmount</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Order_Amount__c}-{!pointsUsed}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>LoyaltyProgramPointsRedeemtionFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LoyaltyProgramPointsRedeemtionFlow</label>
    <loops>
        <name>Loop_Through_Loyalty_Programs</name>
        <label>Loop Through Loyalty Programs</label>
        <locationX>523</locationX>
        <locationY>585</locationY>
        <collectionReference>getLoyalityProgramRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Remaining_Points</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_LoyaltyProgram</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_LP_for_No_redeem</name>
        <label>create LP for No redeem</label>
        <locationX>777</locationX>
        <locationY>633</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiry_Date__c</field>
            <value>
                <elementReference>setExpiryDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loyalty_Points_Earned__c</field>
            <value>
                <elementReference>$Record.Loyalty_Points_Earned__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Points_Used__c</field>
            <value>
                <elementReference>$Record.Loyalty_Points_Used__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Type__c</field>
            <value>
                <stringValue>Loyalty Points</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redemption_Method__c</field>
            <value>
                <stringValue>Points</stringValue>
            </value>
        </inputAssignments>
        <object>Loyalty_Program__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_LP_when_Redeem</name>
        <label>create LP when Redeem</label>
        <locationX>564</locationX>
        <locationY>1274</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiry_Date__c</field>
            <value>
                <elementReference>setExpiryDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loyalty_Points_Earned__c</field>
            <value>
                <elementReference>$Record.Loyalty_Points_Earned__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Points_Used__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Type__c</field>
            <value>
                <stringValue>Loyalty Points</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redemption_Method__c</field>
            <value>
                <stringValue>Points</stringValue>
            </value>
        </inputAssignments>
        <object>Loyalty_Program__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getLoyalityProgramRecords</name>
        <label>getLoyalityProgramRecords</label>
        <locationX>644</locationX>
        <locationY>336</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>redeemCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Points_Balance__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Expiry_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>checkDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Loyalty_Program__c</object>
        <sortField>Expiry_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_LoyaltyProgram</name>
        <label>Update LoyaltyProgram</label>
        <locationX>604</locationX>
        <locationY>940</locationY>
        <connector>
            <targetReference>Update_PurchaseHistory_after_points_redeem</targetReference>
        </connector>
        <inputReference>LoyaltyProgramsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PurchaseHistory_after_points_redeem</name>
        <label>Update PurchaseHistory after points redeem</label>
        <locationX>602</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>create_LP_when_Redeem</targetReference>
        </connector>
        <inputAssignments>
            <field>Loyalty_Points_Used__c</field>
            <value>
                <elementReference>pointsUsed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Amount__c</field>
            <value>
                <elementReference>totalAmount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_on_Purchase_History_if_No_Redeem</name>
        <label>Update Records on Purchase History if No Redeem</label>
        <locationX>870</locationX>
        <locationY>498</locationY>
        <connector>
            <targetReference>create_LP_for_No_redeem</targetReference>
        </connector>
        <inputAssignments>
            <field>Loyalty_Points_Used__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Amount__c</field>
            <value>
                <elementReference>$Record.Order_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>526</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getLoyalityProgramRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Amount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Purchase_History__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentOrderAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>$Record.Order_Amount__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>LoyaltyProgramsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loyalty_Program__c</objectType>
    </variables>
    <variables>
        <name>pointsUsed</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>RemainingPoints</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
