main/default/flows/LoyalityProgramExpireDatefieldUpdateTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>CheckExpiryDateValidity</name>
        <label>CheckExpiryDateValidity</label>
        <locationX>567</locationX>
        <locationY>365</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>expiryValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expiry_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DateCheck</elementReference>
                </rightValue>
            </conditions>
            <label>expiryValid</label>
        </rules>
        <rules>
            <name>expiryInValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expiry_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>DateCheck</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateLP_for_ProgramStatus</targetReference>
            </connector>
            <label>expiryInValid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DateCheck</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <interviewLabel>LoyalityProgramExpireDatefieldUpdateTrigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LoyalityProgramExpireDatefieldUpdateTrigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateLP_for_ProgramStatus</name>
        <label>updateLP for ProgramStatus</label>
        <locationX>424</locationX>
        <locationY>496</locationY>
        <inputAssignments>
            <field>Program_Status__c</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>449</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>CheckExpiryDateValidity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Expiry_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Loyalty_Program__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
