main/default/flows/SendLoyaltyPointsUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Business</name>
        <label>Send Email to Business</label>
        <locationX>747</locationX>
        <locationY>580</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Account.Business_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Loyalty Points Update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Loyalty_Email_Body</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Person</name>
        <label>Send Email to Person</label>
        <locationX>312</locationX>
        <locationY>573</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Account.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Loyalty Points Update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Loyalty_Email_Body</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Check_Account_Type</name>
        <label>Check Account Type</label>
        <locationX>538</locationX>
        <locationY>430</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Type_of_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E_Commerce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Person</targetReference>
            </connector>
            <label>Person Account</label>
        </rules>
        <rules>
            <name>Business_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Type_of_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Business</targetReference>
            </connector>
            <label>Business Account</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send Loyalty points Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SendLoyaltyPointsUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>538</locationX>
        <locationY>317</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_FollowUp.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FollowUp</name>
        <label>Get FollowUp</label>
        <locationX>536</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FollowUps__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_FollowUp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Loyalty_Email_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello {!Get_Account.Name},

Here are the loyalty details for the customer:

- Loyalty Points Earned: {!Get_Account.Loyalty_Points_Earned__c}
- Loyalty Points Used: {!Get_Account.Loyalty_Points_Used__c}
- Loyalty Points Balance: {!Get_Account.Loyalty_Points_Balance__c}

Regards,
Customer Engagement Team</text>
    </textTemplates>
    <variables>
        <name>recipientEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
