main/default/flows/surveyFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <choices>
        <name>Purchase</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(243, 243, 243); font-size: 12px;&quot;&gt;Purchase&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Purchase</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Null</name>
        <label>Null</label>
        <locationX>757</locationX>
        <locationY>213</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ratingRequired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Rating</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createRecord</targetReference>
            </connector>
            <label>ratingRequired</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PurchaseHistoryLookupfilter</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Purchase_History__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PurchaseHistroylist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Purchase_History__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RatingSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rating__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SurveyTypeset</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rating__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Test</name>
        <dataType>String</dataType>
        <displayField>Id</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Purchase_History__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>SurveyDateValue</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>surveyFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>surveyFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createRecord</name>
        <label>createRecord</label>
        <locationX>772</locationX>
        <locationY>380</locationY>
        <connector>
            <targetReference>finishScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FeedBack__c</field>
            <value>
                <elementReference>FeedBack</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_History__c</field>
            <value>
                <elementReference>PurchaseHistory.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating__c</field>
            <value>
                <elementReference>Rating</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyDate__c</field>
            <value>
                <elementReference>SurveyDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyType__c</field>
            <value>
                <elementReference>SurveyType</elementReference>
            </value>
        </inputAssignments>
        <object>Survey__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>AccountNameFetch</name>
        <label>AccountNameFetch</label>
        <locationX>397</locationX>
        <locationY>119</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>firstScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>finishScreen</name>
        <label>finishScreen</label>
        <locationX>521</locationX>
        <locationY>380</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>sucessmessge</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(49, 137, 16);&quot;&gt;Feedback submitted successfully &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://orgfarm-c6ccfd35c2-dev-ed.develop.lightning.force.com/lightning/r/Survey__c/{!createRecord}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;check record &lt;/a&gt; &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>firstScreen</name>
        <label>firstScreen</label>
        <locationX>504</locationX>
        <locationY>211</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Null</targetReference>
        </connector>
        <fields>
            <name>Account</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Account: {!AccountNameFetch.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PurchaseHistory</name>
            <choiceReferences>PurchaseHistroylist</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>PurchaseHistory</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SurveyDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>SurveyDateValue</elementReference>
            </defaultValue>
            <fieldText>SurveyDate</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SurveyType</name>
            <choiceReferences>Purchase</choiceReferences>
            <dataType>String</dataType>
            <fieldText>SurveyType</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Rating</name>
            <choiceReferences>SurveyTypeset</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Rating</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FeedBack</name>
            <dataType>String</dataType>
            <fieldText>FeedBack</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>373</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>AccountNameFetch</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singleSurvey</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey__c</objectType>
    </variables>
</Flow>
